<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="GoogleMapsApiKey" value="AIzaSyBUpOOGs5KI27uZX7GzsMAVBHIb0XDPoJ8"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <connectionStrings>
    <add name="LinkedUConnectionString" connectionString="server=itkmssql;database=LinkedU_jkmz;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DistanceFinderSoap" />
        <binding name="TextSenderPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://iis2.it.ilstu.edu/17f368/it368f711/app10/DistanceFinder.asmx"
        binding="basicHttpBinding" bindingConfiguration="DistanceFinderSoap"
        contract="DistanceFinder.DistanceFinderSoap" name="DistanceFinderSoap" />
      <endpoint address="http://gfish3.it.ilstu.edu:8080/ISUTextSMS2/TextSenderService"
        binding="basicHttpBinding" bindingConfiguration="TextSenderPortBinding"
        contract="SMS.TextSender" name="TextSenderPort" />
    </client>
  </system.serviceModel>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>